@font-face {
  font-family: 'Bliss Pro Extra Light';
  src: url('../fonts/BlissPro-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bliss Pro Light';
  src: url('../fonts/BlissPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Bliss Pro Extra Light' !important;
  min-width: 320px;
  color: #808080;
  background: #f6f6e9;
  font-size: 16px;
}

a {
  color: #318ad6;
}

a:hover {
  text-decoration: underline;
}

/* HEADER *******************************************************************************/
header {
  background: #fff;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo img {
  max-height: 80px;
}

.adresone, .adrestwo {
  font-style: normal;
  text-align: right;
  color: #333;
  padding-top: 10px;
  line-height: 24px;
}

.adresone a {
  color: #333;
}

.adresone strong, .adrestwo strong {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  font-family: 'Open Sans Condensed', sans-serif;
}

.adresone p, .adrestwo p {
  margin-bottom: 2px;
}

.languages {
  padding-top: 5px;
  text-align: right;
}

.languages a {
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 768px) {
  .adresone, .adrestwo {
    text-align: center !important;
  }
  .languages {
    text-align: center !important;
  }
  .languages br {
    display: none;
  }
  .logo {
    text-align: center;
  }
  .logo img {
    margin: 0 auto;
  }
}


/* MAINMENU */
.mainmenu > ul > li > a {
  padding: 15px 10px;
}

.mainmenu {
  background-color: #fcfcf7;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(70, 70, 70, 0.25);
  -moz-box-shadow: 0px 3px 5px 0px rgba(70, 70, 70, 0.25);
  box-shadow: 0px 3px 5px 0px rgba(70, 70, 70, 0.25);
  padding: 10px 0;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.mainmenu .navbar {
  margin-bottom: 0;
  min-height: auto;
  border-radius: 0;
}

.mainmenu li a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Bliss Pro Light' !important;
}

.mainmenu .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.mainmenu li a:hover {
  text-decoration: underline;
}

.icon-bar {
  background-color: #ea8a1a;
}

/* END MAINMENU */

/* TOP SLIDER */
.owl-top-slider .owl-prev,
.owl-top-slider .owl-next {
  position: absolute;
  top: 50%;
  font-size: 42px;
  color: #efefef
}

.owl-top-slider .owl-prev {
  left: 20px;
}

.owl-top-slider .owl-next {
  right: 20px;
}

.carusel-caption {
  position: absolute;
  top: 10%;
  margin: auto;
  color: #fff;
  width: 100%;
  font-size: 16px;
}

.carusel-caption h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 64px;
}

/* Product slider */
.owl-product-slider .owl-prev,
.owl-product-slider .owl-next,
.owl-thumb-slider .owl-prev,
.owl-thumb-slider .owl-next {
  position: absolute;
  top: 50%;
  font-size: 18px;
  color: #333;
}

.owl-product-slider {
  margin-bottom: 10px;
}

.owl-thumb-slider .owl-prev,
.owl-thumb-slider .owl-next {
  top: 30%;
  font-size: 12px;
}


.owl-product-slider .owl-prev,
.owl-thumb-slider .owl-prev {
  left: 10px;
}

.owl-product-slider .owl-next,
.owl-thumb-slider .owl-next {
  right: 10px;
}


/* END TOPSLIDER */

/* END HEADER *************************************************************/

/* SIDEBAR ****************************************************************/
.sidebar-item {
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.menu {
  background: #fcfcf7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.menu .caption {
  padding: 15px 10px 0 10px;
  margin-top: 0;
}

/* END SIDEBAR ************************************************************/

/* CONTENT ****************************************************************/
.wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 15px;
}

.welcome {
  background-size: cover;
}

.topanonces {
  padding-bottom: 30px;
}

.contentitem {
  border: 0;
  margin-bottom: 15px;
  background: none;
}

.itemdescr {
  color: #666;
}

.contentitem .caption {
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  text-transform: uppercase !important;
  font-family: 'Bliss Pro Light', sans-serif !important;
  font-weight: bold;
}

.list {
  margin-bottom: 40px;
}

.list .caption {
  padding-top: 0;
}

.list img {
  width: 180px !important;
  max-width: 180px !important;
}

.content-header {
  padding-bottom: 10px;
  margin-top: 0;
  font-family: 'Ð’liss Pro', sans-serif !important;

}

.document {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 30px;
}

.document img {
  max-width: 100%;
  height: auto;
  display: block;
}

.botanonces {
  background: #fcfcf7;
  padding: 20px 0;
  margin-bottom: 20px;
}

.botanonces .contentitem {
  background: none;
  color: #fff;
}

.botanonces .contentitem img {
  border: 3px solid #fff;
}

/* BANNERS */
.topbans {
  margin: 10px 0 30px;
}

.topbans img {
  display: block;
  max-width: 300px;
}

.contentlist .image {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.image img {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.galery .contentitem {
  padding-top: 20px;
  padding-bottom: 20px;
}

.galery .contentitem .image {
  overflow: hidden;
}

.galery .contentitem .image img {
  max-width: none;
  max-height: none;
  height: 100%;
  width: auto;
}

.galery .contentitem .caption {
  padding-top: 5px;
  font-size: 14px;
  color: #666;

}

/* END CONTENT ************************************************************/

/* FOOTER *****************************************************************/
footer {
  padding: 10px 0 20px 0;
  background: #e6e5d9;
}

footer .adresone, footer .adrestwo {
  text-align: left;
  padding-bottom: 20px;
}

#copyright {
  margin-top: 0;
  font-size: 13px;
  text-align: left;
  padding-top: 10px;
}

#bottommenu {
  margin: 20px 0 10px 0;
  text-align: right;
}

#bottommenu .nav > li > a {
  padding: 10px;
  font-size: 13px;
}

#map {
  height: 470px;
  width: 100%;
  margin: 0 0 0 0;
}

/* END FOOTER *************************************************************/

/* UTIL *******************************************************************/

.sidebar-files a {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 22px;
}

.sidebar-files li {
  padding-top: 7px;
  padding-bottom: 7px;
}

.sidebar-files ul {
  margin: 10px 0;
}

.toptext {
  padding-left: 20px;
  padding-right: 20px;
}

.document .table {
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sp-wrap {
  max-width: 100%;
}

.docprice {
  font-size: 38px;
  margin: 20px 0;
  color: #003161;
}

.valuta {
  font-size: 28px;
}

.productheader {
  margin-top: 0;
}

.product-content {
  margin: 30px 0;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.leftmenu {
  font-size: 18px;
}

.my-breadcrumb {
  background: #fcfcf7;
}

.about {
  padding: 60px 0;
}

.about ol,
.about ul {
  margin: 0;
}

.about h1 {
  margin-bottom: 60px;
}

.about p {
  margin-bottom: 40px;
}

/*about
========================================*/

/*contacts
========================================*/
.contacts {
  padding: 60px 0;
}

.contacts h1 {
  margin-bottom: 40px;
}

.contacts .yamapauthor {
  margin-bottom: 40px;
}

.contacts form {
  margin-top: 40px;
}

.contacts input,
.contacts textarea {
  padding: 0 10px;
  margin-bottom: 10px;
}

.contacts input {
  height: 40px;
  line-height: 40px;
}

.contacts textarea {
  padding-top: 10px;
  max-width: 500px;
}

.contacts input[type="submit"] {
  padding: 0 40px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  transition: all .4s;
}

.contacts input[type="submit"]:hover {
  background: #a2a2a2;
}

/*contacts
========================================*/

/*index
========================================*/
.index {
  padding: 60px 0;
}

.index__item {
  padding: 20px;
  background: white;
  box-shadow: 0 6px 8px -3px rgba(0, 0, 0, .1);
  transition: all .4s;
}

.index__item:hover {
  box-shadow: 0 6px 8px -3px rgba(0, 0, 0, .4);
}

.index-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 1400px) {
  .index-content {
    grid-template-columns: repeat(2, 1fr);

  }

}

@media screen and (max-width: 700px) {
  .index-content {
    display: block;
  }
}

.index__image {
  margin-bottom: 30px;
  height: 260px;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .index__item {
    margin-bottom: 30px;
  }
}

/*index
========================================*/
/*menu
========================================*/
.navbar li.current-menu-item a {
  background: #eee;
}

/*menu
========================================*/
/*single
========================================*/
.page-single {
  padding: 60px 0;
}

.page-single h1 {
  margin-bottom: 30px;
}

.page-single img {
  margin-left: 0;
  margin-bottom: 40px;
}

/*single
========================================*/
.container {
  padding: 0 15px;
}

.navbar .container {
  position: relative;
}

.widget.widget_search {
  position: absolute;
  top: 8px;
  right: 0;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  width: 150px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__content h4,
.header__content a {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  font-family: 'Open Sans Condensed', sans-serif;
}

.header__item:last-child {
  max-width: 390px;
}

.header__item:nth-child(2) > * {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 998px) {
  .header__content {
    display: block;
  }
  .header__item:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;
  }

  .widget.widget_search {
    width: 200px;
  }
}

.adrestwo span {
  display: block;
  margin-top: -20px;
}

.adrestwo a {
  color: #333;
}

.widget_wpglobus {
  display: table;
  margin-top: 6px;
}


.publications {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.publications.last-posts {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1200px) {
  .publications {
    grid-template-columns: repeat(2, 1fr);
  }

}

.publications__item {
  display: block;
  padding: 20px;
  background: #fff;
  text-decoration: none;
  transition: all .4s ease;
  cursor: pointer;
}

.publications__item:hover {
  color: #333;
  text-decoration: none;
  box-shadow: 0 8px 8px -3px rgba(0, 0, 0, .3);
}

.publications__image {
  height: 175px;
  overflow: hidden;
}

.section {
  padding: 30px 0;
}

.section__title {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 740px) {
  .publications.last-posts {
    display: block;
  }

  .publications.last-posts {
    display: block;
  }

  .publications__item {
    display: table;
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 530px) {
  .publications {
    display: block;
  }
}

.list-inline li {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: left;
}

.footer .phone {
  font-size: 24px;
}

.footer__title {
  height: 54px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  font-family: 'Open Sans Condensed', sans-serif;
}

.nav-links {
  position: absolute;
  bottom: -40px;
  left: 0;
}

.nav-links .page-numbers {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #333;
  border: 1px solid #333;
  background: white;
  transition: all .5s;
  cursor: pointer;
}

.nav-links .page-numbers.current {
  color: white;
  background: #333;
}

#bottommenu {
  margin: 0;
}

.slider-wrap {
  position: relative;
  margin: 0 auto 60px;
  max-width: 1300px;
}

.slider-wrap .slider-title {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 44px;
  font-weight: bold;
  color: white;
  /*text-transform: uppercase;*/
  z-index: 20000;
}

.slider-wrap .slider__item {
  position: relative;
}

.slider-wrap .slider__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  z-index: 1000;
}

.slick-prev,
.slick-next {
  font-size: 0;
  position: absolute;
  bottom: 44%;
  color: #eee;
  border: 0;
  background: none;
  cursor: pointer;
  z-index: 1;
}

.slick-prev {
  left: 20px;
}

.slick-prev:after {
  content: "\f104";
  font: 130px/1 'FontAwesome';
}

.slick-next {
  right: 20px;
  text-align: right;
}

.slick-next:after {
  content: "\f105";
  font: 130px/1 'FontAwesome';
}

.slick-prev::after,
.slick-next::after {
  transition: all .6s;
}

.slick-prev:hover:after,
.slick-next:hover:after {
  color: #ccc;
}

.donors-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.donors .slick-prev,
.donors .slick-next {
  color: #16c8ff;
  bottom: 20px;
}

.navbar-nav > li {
  position: relative;
  &:hover .sub-menu {
    display: block;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .sub-menu {
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 260px;
    background: #eee;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
    z-index: 1;
    @media screen and (max-width: 768px) {
      position: static;
      //display: block;
      width: auto;
      box-shadow: none;
    }
    li {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border: none;
      }
      a {
        transition: all .4s ease;
        line-height: 1.8;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.footer .list-inline .sub-menu {
  display: none;
}
